background-color = #f0f0f0
intro-highlight-color = #09afad
intro-title-color = #555555
section-title-color = #000523
item-title-color = #031634
item-subtitle-color = #777777
item-title-border-color = #cccccc
item-keywords-color = #777777
button-font-color = #fafafa
button-default-color = #031634
timeline-color = #09afad

